@import './base/reset';

@import './abstracts/mixins', './abstracts/variables';


@import './pages/about', './pages/contacts', './pages/home', './pages/projects';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

@import './components/footer', './components/nav', './components/responsive';
// responsive için en alta almak lazım.

body{
    font-family: $font-family;
    line-height: 1;
    color: $text-color;
    background-color: $primary-color;
    height: 100vh;
}

a{
    text-decoration: none;
    color: $text-color;
}

h1,h2,h3{
    font-weight: 400;
}