

.about-bgImg-container{
    // border: 2px solid red;
    @include bgImage(50vh, $main-bgImage-path);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .about__bio-image{
        text-align: center;
        h2{
            font-size: 3rem;
            color: $secondary-color;
        }
        p{
            font-size: 1.2rem;
            margin: 2rem;
        }
    }
}

.about{

    &__container{
        // border: 2px solid red;
        width: 70vw;
        margin: 2rem auto;
    }

    &__job{
        margin: 1rem;
        background: lighten($primary-color, 10%);
        padding: 1rem;
        border-bottom: 5px solid $secondary-color;

        h2,h3{
            margin: 0.5rem 0;
        }

        h6{
            margin: 0.3rem 0;
        }
    }
}