

.project-bgImg-container{
    // border: 2px solid red;
    @include bgImage(40vh, $main-bgImage-path);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .projects__bio-image{
        text-align: center;
        margin-bottom: 00.5rem;
    }
}

.projects{

    &__items{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem 5rem;
        gap: 1rem 0;
        
    }
    &__item{
        width: 100%;
        cursor: pointer;
        border-bottom: 5px solid $secondary-color;
        position: relative;
        // turuncu alan bunun içinde kalsın diye
        
        img{
            width: 100%;
            
        }

        &::after{
            content: '';
            height: 100%;
            width: 100%;
            background-color: $secondary-color;
            position: absolute;
            left: 0;
            opacity: 0;
            @include transition(1.2s);
        }

        &:hover::after{
            // bunun hoverında after değişsin
            opacity: 0.7;
        }

    }
}