//*****************************************************
//*   Mixins
//*****************************************************

@mixin transition ($sec) {
    transition: all $sec;
    
}


@mixin bgImage($height, $url) {
    height: $height;
    width: 100%;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
    ),
    url($url);
    background-position: center center;
    background-size: cover;
}



//** media query
@mixin media-xsm {
    @media screen and (min-width: 0px) {
      @content;
    }
  }
  
  @mixin media-sm {
    @media screen and (min-width: 576px) {
      @content;
    }
  }
  
  @mixin media-md {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin media-lg {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
  
  @mixin media-xl {
    @media screen and (min-width: 1600px) {
      @content;
    }
  }