//*****************************************************
//*   Variables
//*****************************************************


//*Colors
$primary-color:#272727;
$secondary-color:#ff652f;
$text-color:#eee;



//*fonts
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$main-bgImage-path: '../img/model-1.jpg';